 section{
  margin-bottom: 10px;
 }
.nav{
  width:100%;
  height:40px;
  background-color :blue;
  display: flex;
  justify-content: center;
  position: relative;
 
}
.input{
  position: relative;
}

#p{
  display: flex;
  position: absolute;
  left:15px;
  margin-left:20px ;
  top: -15px;
  font-size: 18px;
  
}
.but{
  position: absolute;
  right:40px;
  bottom:10px;
  border: none;
  

}
#s{
  background-color:rgb(51, 51, 51);
}
#no{
  background-color:rgb(51, 51, 51); 
}
p{
  width:40px;
  color: #fff;
  text-align: left;
  border:rgb(51, 51, 51) solid 5px;
  border-radius: 10px;
}
.s{

  background-color: orange;
}
.k{
  position: absolute;
  right:4px;
  bottom:10px;
}
.f{
text-decoration-line:none;
color: #fff;
}
.d{
text-decoration-line:none;
color: #fff;
margin-right: 100px;
margin-left:10px ;
}
.d:hover{
  background-color:rgb(51, 51, 51);
}

.f:hover{
  background-color: rgb(51, 51, 51);
}
.d:hover{
  background-color: rgb(51, 51, 51);
}

.i{
text-decoration-line:none;
color: #fff;

margin-left: 10px;

}
.i:hover{
 background-color: rgb(51, 51, 51);

}
#imges{
  padding-top: 10px;
  position: relative;
}
.hide{
  display: none;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

section{
  width:100%;
  height:400px;
 background-image: url(im1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  position: relative;
}

.par{
  position: absolute;
  left:260px;
  top:80px;
  font-size: xx-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #f0f;
}
.ha{
 position: absolute;
  left:346px;
  
  top:130px;
  
  font-size: medium;
  color: #088
}
.select{
  padding: 0px;
  width: 127px;
  height: 20px;
  position: absolute;
  left:380px;
  top:250px;
  border: 1px solid;
  border-radius: 10px;
  background-color: black;
}
.all{
  position: absolute;
}

/* ------------------------------------------------------------------------------------ */
#i1i{
  margin-left: 90px;
}

#sec22{
  background-color: rgb(51, 102, 153);
  width: 100%;
  height:fit-content;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  color:wheat;

}
.tagfoo{
  background-color: wheat;
  width: 100%;
  height:300px;
  display: flex;
  justify-content: center;
  

}

#a1و,#a2{
  margin: 90px;
  display:inline;
  text-decoration-line: none;
  color: black;
}









